* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f2f2f2;
}

/* Container */
.container {
    background-color: white;
    padding: 25px;
    width: 350px;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* Headings */
.container h1 {
    font-size: 20px;
    margin-bottom: 10px;
}

.container p {
    font-size: 14px;
    margin-bottom: 20px;
    color: #555;
}

/* Buttons */
button {
    width: 100%;
    height: 50px;
    margin-bottom: 12px;
    border: none;
    border-radius: 8px;
    background-color: rgb(155, 130, 247);
    color: white;
    font-size: 14px;
    cursor: pointer;
}

/* Hover effect */
button:hover {
    background-color: rgb(120, 100, 220);
}
